.viva-la-vida {
    margin-top: 50px;
    text-align: center;
    font-family: 'Cinzel Decorative', serif !important;
    background-image: linear-gradient(90deg, #f37055 0, #ef4e7b 40%, #f37055     45%, #a166ab 50%, #f37055 55%, #ef4e7b 60%, #f37055 100%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.brand {
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Cinzel Decorative', serif;
}
.nav {
    font-size: 17px;
}
.header-wrapper {
    padding: 0.5em 0;
}